
.button {
   background-color: $main-theme;
   height: 4rem;
   width: 12rem;
   font-family: 'Barlow', sans-serif;
   font-size: $font-size-large;
   font-weight: 600;
   margin: 0 $s-size $m-size 0;
   border-radius: 4px;
   border: none;
   outline: none;
   box-shadow: 2px 2px #575757;
   @media (min-width: $breakpoint-large) {
      margin: 0 $s-size $xs-size 0;
   }
}

.button:hover {
   background-color: lighten($main-theme, 7%);
}


