
.button {
   //background-color: $main-theme;
   background-color: $secondary-theme;
   height: 4rem;
   width: 12rem;
   font-family: 'Barlow', sans-serif;
   font-size: $font-size-large;
   font-weight: 600;
   margin: 0 $s-size $m-size 0;
   border-radius: 4px;
   border: none;
   outline: none;
   box-shadow: 2px 2px darken($secondary-theme, 20%);
   transition: background-color;
   @media (min-width: $breakpoint-large) {
      margin: 0 $s-size $xs-size 0;
   }
   &:hover {
      transition: all 0.15s ease-in-out;
      background-color: lighten($secondary-theme, 7%);
   }
}


