
.content-align-sbs {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
   @media (min-width: $desktop-breakpoint) {
      flex-direction: row;
   }
}

.content-align-sbs--wrap {
   flex-direction: row;
   flex-wrap: wrap;
   margin: 0 $s-size;
   justify-content: center;
}


.content-align-sbs--project {
   @media (max-width: $breakpoint-medium) {
      flex-direction: column;
   }
}

.content-align-sbs--project--left {
   @media (max-width: $breakpoint-medium) {
      flex-direction: column-reverse;
   }
}

.content-container-parent {
   min-width: 0;
   max-width: 100%;
}

.content-container {
   padding: 0 $m-size;
   max-width: 100%;
   min-width: 0;
   @media (min-width: $desktop-breakpoint) {
      padding: 0 $xl-size;
      min-width: 0;
   }
   @media (min-width: $breakpoint-small) {
      padding: 0 $xxl-size;
   }   
   @media (min-width: $breakpoint-large) {
      padding: 0 $xxxl-size;
   }
   @media (min-width: $breakpoint-xl) {
      padding: 0 $xxxxl-size;
   }
}

.content-container-nav {
   margin: 0 auto;
   width: 85%;
}

.content-container--project {
   margin: 0 0 $xxl-size 0;
   width: 100%;
}

.center-container {
   align-items: center;
   display: flex;
   justify-content: center;
}

.bottom-container {
   position: static;
   @media (min-width: $desktop-breakpoint) {
      position: absolute;
      bottom: 2rem;
   }
}

.box-slant {
   background: $off-white-darker;
   position: relative;
   &:before,
   &:after {
     background: inherit;
     content: '';
     display: block;
     height: 7rem;
     left: 0;
     right: 0;
     position: absolute;
     z-index: -1;
     transform: skewY(1.5deg);
     margin-top: -4rem;
   }
   &:before {
      transform: skewY(1.5deg);
   }
   &:after {
      transform: skewY(-2.0deg);
   }
}

.box-slant__2 {
   &:before {
      transform: skewY(-1.5deg);
   }
   &:after {
      transform: skewY(2.0deg);
   }   
}
