
.header {
   background: $off-white2;
   margin-bottom: $m-size;
}

.header__content {
   align-items: center;
   display: flex;
   justify-content: space-between;
   padding: $s-size 0;
}

.header__title {
   color: $light-teal;
   font-size: $font-size-xxxl;
   margin: 0 auto;
   font-weight: 400;
   text-decoration: none;
}
