
.avatar-container {
   width: 77%;
   margin: 0 auto;
   @media (min-width: $desktop-breakpoint) {
      width: 77%;
   }
}

.avatar-container-sub {
   margin-top: $xl-size;
   // using actual dimenstions of img to fill space before image loads
   padding-top: calc((366%/323)*100); 
   width: 100%;
   height: 0;
   position: relative;
}

.avatar {
   width: 100%;
   height: auto;
   border-radius: 4px;
   position: absolute;
   top: 0;
   left: 0;
}

// .site-web-container {
//    width: 50rem;
//    display: table-cell;
//    vertical-align: middle;
//    margin-left: 3rem;
// }

// .site-web-container--left {
//    margin-right: 3rem;
// }

// .site-web {
//    width: 50rem;
//    display: inline-block;
//    vertical-align: middle;
// }

.site-web-container {
   width: 100%;
   display: block;
   @media (min-width: $desktop-breakpoint) {
      width: 50rem;
      display: table-cell;
      vertical-align: middle;
      margin-left: 3rem;
   }

}

.site-web-container--left {
   margin-right: 3rem;
}

.site-web {
   width: inherit;
   display: block;
   @media (min-width: $desktop-breakpoint) {
      width: 50rem;
      display: inline-block;
      vertical-align: middle;
   }
   @media (max-width: $breakpoint-medium) {
      width: 100%;

   }
}

.helper {
   height: 100%;
   display: inline-block;
   vertical-align: middle;
}

.cv-container {
   text-align: center;
}

.cv {
   //display: inline-block;
   height: 100%;
   width: 100%;
   @media (min-width: $desktop-breakpoint) {
      width: 75%;
   }
}

.icon-container {
   display: flex;
   flex-direction: row;
   margin-bottom: $m-size;
   @media (min-width: $desktop-breakpoint) {
      position: static;
   }
}

.hamburger-menu {
   width: 20%;
}

.contact-icon {
   margin: 0 $xs-size;
   width: 12.5%;
   @media (min-width: $desktop-breakpoint) {
      margin: 0 $s-size;
      width: 20%;
   }
}


