
.list {
   list-style: none;
   margin-top: 0;
   padding-left: 0;
   @media (min-width: $desktop-breakpoint) {
      margin-top: $l-size;
   }   
}

.list-item {
   margin: auto $s-size $s-size auto;
   text-decoration: none;
   color: $darker-grey;
   @media (min-width: $desktop-breakpoint) {
      margin: $m-size auto;
   }   
}

.nav-link {
   text-decoration: none;
}

.show-desktop { /* show menu buttons */
   display: none;
   @media (min-width: $desktop-breakpoint) {
      display: block;
   }
}

.show-mobile { /* show menu buttons */
   display: block;
   @media (min-width: $desktop-breakpoint) {
      display: none;
   }
}

.hide-slider {
   display: none;
}
