
.navigation-bar {
   background-color: $main-theme;
   width: 100%;
   display: block;
   overflow: auto;
   color:black;
   @media (min-width: $desktop-breakpoint) {
      animation-name: fadeInX;
      animation-duration: .8s;
      width: 25rem;
      height: 100%;
      position: fixed;
   }
}

.navbar-space-filler {
   width: 100%;
   @media (min-width: $desktop-breakpoint) {
      width: 25rem;
      height: 100%;
   }
}

.text-container {
   text-align: center;
   width: 100%;
   margin: 0 auto;
}

.title {
   margin: $s-size 0 0 0;
}

.subtitle {
   margin: 0;
}

@keyframes fadeInX {
   from {transform: translateX(-90%); opacity: 0.9;}
   to {transform: translateY(0); opacity: 1;}
 }


@keyframes fadeInY {
   from {transform: translateY(-13%); opacity: 0;}
   to {transform: translateY(0); opacity: 1;}
}


.slider {
   animation-name: fadeInY;
   animation-duration: .6s;
   background-color: $main-theme;
   padding-bottom: $xxs-size;
   text-align: right;
}

hr {
   position: absolute;
   width: 100%;
   border: 1px solid black;
   margin: $m-size 0;
   position: relative;
   width: 100%;
}
