
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500;800&display=swap');

.project-text {
   position: relative;
   width: auto;
   top: 5%;
   bottom: 5%;
   h1 {
      margin-top: 0;
   }
   li {
      font-size: $font-size-medium;
   }
   p {
      font-size: $font-size-large;
   }
}

.project-text__left {
   margin-right: 2rem;
   @media (max-width: $breakpoint-medium) {
      margin-right: 0;
   } 
}

.page-title {
   margin: $l-size auto;
   font-family: 'Bebas Neue', cursive;
   font-size: $font-size-xxxl;
}

.tech-name {
   margin: $xs-size auto;
   font-size: $font-size-medium;
   @media (min-width: $desktop-breakpoint) {
      margin: $s-size auto;
      font-size: $font-size-large;
   }
}

.tech-header-title {
   text-align: center;
   font-family: 'Changa', sans-serif;
   font-size: $font-size-xl;
   margin-bottom: $s-size;
   font-weight: 200;
}

.contact-title {
   color: $off-white-darker;
   text-shadow: 2px 3px 4px rgb(41, 41, 41);
   margin-left: 6.5rem;
   font-size: $font-size-xl;
   display: none;
}

.about > p {
   font-size: $font-size-large;
}

.head-line-container {
   display: inline-block;
   position: relative;
}

.head-line {
   margin: 0 auto;
   &::after {
      content: '';
      position: absolute;
      bottom: -0.5rem;
      left: 0;
      right: 0;
      width: 90%;
      border-bottom: 2px solid;
      color: rgb(209, 209, 209);
      margin: 0 auto;
      border: none;
      //transition: width 0.3s ease 0s, left 0.3s ease 0s;
   }
   // &:hover:after { 
   //    width: 100%; 
   //    left: 0; 
   //  }
}

.head-line__page-title {
   height: 6.5rem;
   margin: $l-size auto 0 auto;
   &::after {
      border-bottom: 5px solid;
      color: $secondary-theme;
   }
   //bottom: 0rem;
}

.introduction-head-line {
   color: $secondary-theme;
   font-size: $font-size-xxxl;
}

.p-large {
   font-size: $font-size-xl;
}
