
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400&display=swap');

* {
   box-sizing: border-box;
}

html {
   font-size: 62.5%; // Setting base pixelsize to 10, so 1.0rem = 10px
   background-color: white;
}

body {
   color: $dark-grey;
   font-family: 'Barlow', sans-serif;
   font-size: $m-size;
   line-height: 1.5;
}

html, body {
   height: 100%;
   width: 100%;
   padding: 0;
   margin: 0;
   overflow-x: hidden;
}

button {
   cursor: pointer;
}

button:disabled {
   cursor: default;
}

.is-active {
   font-weight: bold;
}