
// Colors
$darker-grey: #0f0f0f;
$dark-grey: #3d3d3d;
$medium-grey: #666;
$grey: #888888;
$light-teal: #6ac3e6;
$off-white-light: #f7f7f7;
$off-white: #fcfcfc;
$off-white-darker: rgb(228, 228, 228);
//$main-theme: rgb(153, 153, 153);
$main-theme: rgb(122, 122, 122);
$secondary-theme: rgb(148, 224, 98);

// Font Size
$font-size-4xl: 7rem;
$font-size-xxxl: 5.0rem;
$font-size-xxl: 2.8rem;
$font-size-xl: 2.2rem;
$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;

// Spacing
$xxs-size: 0.1rem;
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 2.0rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 8.0rem;
$xxxl-size: 20.0rem;
$xxxxl-size: 35.0rem;
$desktop-breakpoint: 45rem;
$line-breakpoint: 660px;
$scroll-breakpoint: 740px;
$breakpoint-xl: 110rem;
$breakpoint-large: 95rem;
$breakpoint-medium: 82rem;
$breakpoint-small: 61rem;